<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" media="screen" href="public/stylesheets/main.css">
    <title>Api doc</title>
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h1>Api examples</h1>
        </div>
        <h4>Get commiters: /repos/search/:keyword/</h4>
        <p>Example: <a href="/repos/search/play20">/repos/search/play20</a></p>

        <h4>Get contributors: /repos/:owner/:repo/contributors</h4>
        <p>Example: <a href="/repos/playframework/play20/contributors">/repos/playframework/play20/contributors</a></p>

        <h4>Get commits: /repos/:owner/:repo/commits</h4>
        <p>Example: <a href="/repos/playframework/play20/commits">/repos/playframework/play20/commits</a></p>
      </div>
      <div id="push"></div>
    </div>
  </body>
</html>
